<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/apple-icon-180x180.png') }}">
  <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon">

  <title>Title page</title>

<link href="{{ url_for('static', filename='main.3f6952e4.css') }}" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="{{ url_for('my_home') }}" title="">01 : Home</a></li>
          <li><a href="{{ url_for('render_static', page_name='works') }}" title="">02 : Works</a></li>
          <li><a href="{{ url_for('render_static', page_name='about') }}" title="">03 : About me</a></li>
          <li><a href="{{ url_for('render_static', page_name='contact') }}" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <p>Hi! I'm Tiffany — a Microsoft product manager in 📍 NYC who loves turning complex systems into products people actually understand and love to use.</p>

                  <p>I'm currently building Azure Advisor, helping some of the world's largest enterprises make smarter, more resilient decisions about their cloud workloads. My journey started with Economics and Data Science at the University of Southern California, then took me into mobility tech as a data analyst on autonomous driving at Tencent, and later into web3 as a product manager at EthSign.</p>

                  <p>I'm happiest when I'm learning something new — whether that's on the ski slopes ⛷️, on a run 🏃‍♀️, in a book 📚, or at musical theatre 🎭.</p>
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>tiffanywang2025</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="{{ url_for('static', filename='main.70a66962.js') }}"></script></body>

</html>